extends layouts/main

block content
    .form-container
        form(action=routes.editBook(book.id), method="post")
            input(type="text", placeholder="Title", name="title", value=book.title)
            textarea(name="description", placeholder="Description")=book.description
            input(type="submit", value="Update Book")
        a.form-container__link(href=routes.deleteBook(book.id))
            button.delete Delete Book 