extends layouts/main
include mixins/bookBlock

block content
    .books
        each book in books
            +bookBlock({
                title: book.title,
                author: book.author,
                cover: book.cover,
                recommended: book.recommended,
                description: book.description
            })
