mixin bookBlock(book = {})
    .bookBlock
        a(href=routes.bookDetail(book.id))
            img.bookBlock_file(src = book.file)
            h4.bookBlock_title=book.title
            h6.bookBlock_author=book.author
            if book.recommended === 1
                h6.bookBlock_recommended 1 recommeded
            else 
                h6.bookBlock_recommended #{book.recommended} recommended