.book-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .book__file {
    img {
      margin-bottom: 10px;
      max-width: 100px; // 100%
    }
  }
  .book__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .book__author {
      a {
        color: #3498db;
      }
    }
    .book__title,
    .book__recommended,
    .book__description {
      display: block;
      margin-bottom: 15px;
    }
    .book__title {
      font-size: 22px;
      font-weight: 300;
    }
    .book__recommended {
      font-size: 14px;
    }
    .book__description {
      font-size: 16px;
    }
  }
  .book__comments {
    margin-top: 25px;
    .book__comment-number {
      font-size: 18px;
    }
  }
}
