.home-books {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
  .bookBlock:first-child,
  .bookBlock:nth-child(2) {
    grid-column: span 3;
  }
  .bookBlock:nth-child(3),
  .bookBlock:nth-child(4),
  .bookBlock:nth-child(5) {
    grid-column: span 2;
  }
}
